<div class="tab__content tab__content--no-borders">
  <h1 class="hotel">HOTEL
    <strong>Mieres del Camín Apartamentos</strong>
    <span class="hotel__star">
      <img src="../img/star-orange.svg">
      <img src="../img/star-orange.svg">
      <img src="../img/star-orange.svg">
      <img src="../img/star-orange.svg">
    </span>
  </h1>

  <form action="">
    <div class="grid grid--responsive">
      <div class="grid__col--equal estancia" id="sinRegimen">
        <h3 class="estancia__tipo"><span>Solo Alojamiento</span></h3>
        <hr class="estancia__separador" />
        <ul class="estancia__servicios">
          <li>
            <span>Sin régimen</span>
          </li>
          <li>
            <span>Botella de agua de bienvenida</span>
          </li>
        </ul>
        <div class="estancia__checkRegimen">
          <div class="estancia__checkRegimen-wrapper">
            <input type="radio" name="regimen" value="sinRegimen">
            <label>Elegir régimen</label>
          </div>
        </div>
      </div>
      <div class="grid__col--equal estancia" id="desayuno">
        <h3 class="estancia__tipo"><span>Alojamiento y Desayuno<span></h3>
        <hr class="estancia__separador" />
        <ul class="estancia__servicios">
          <li>
            <span>Desayuno buffet completo</span>
          </li>
        </ul>
        <div class="estancia__checkRegimen">
          <div class="estancia__checkRegimen-wrapper">
            <input type="radio" name="regimen" value="desayuno">
            <label>Elegir régimen</label>
          </div>
        </div>
      </div>
      <div class="grid__col--equal estancia" id="mediaPension">
        <h3 class="estancia__tipo"><span>Media Pensión<span></h3>
        <hr class="estancia__separador" />
        <ul class="estancia__servicios">
          <li>
            <span>Desayuno buffet completo</span>
          </li>
          <li>
            <span>Cena buffet</span>
          </li>
          <li>
            <span>No incluye</span>
          </li>
        </ul>
        <div class="estancia__checkRegimen">
          <div class="estancia__checkRegimen-wrapper">
            <input type="radio" name="regimen" value="mediaPension">
            <label>Elegir régimen</label>
          </div>
        </div>
      </div>
      <div class="grid__col--equal estancia" id="todoIncluido">
        <h3 class="estancia__tipo"><span>Todo incluido</span></h3>
        <hr class="estancia__separador" />
        <ul class="estancia__servicios">
          <li>
            <span>Dispondrás de comida y bebida todo el día y durante toda tu estancia.</span>
          </li>
          <li>
            <span>Restaurante buffet</span>
          </li>
          <li>
            <span>Snack Bar</span>
          </li>
          <li>
            <span>Servicio de bares (marcas nacionales)</span>
          </li>
        </ul>
        <div class="estancia__checkRegimen">
          <div class="estancia__checkRegimen-wrapper">
            <input type="radio" name="regimen" value="todoIncluido">
            <label>Elegir régimen</label>
          </div>
        </div>
      </div>
      <div class="grid__col--equal estancia" id="premium">
        <h3 class="estancia__tipo"><span>Unlimited Services</span></h3>
        <hr class="estancia__separador" />
        <ul class="estancia__servicios">
          <li>
            <span>Restaurante buffet con bebidas Premium</span>
          </li>
          <li>
            <span>Restaurante a la carta (una cena por estancia)</span>
          </li>
          <li>
            <span>Snack Bar con bebidas Premium</span>
          </li>
          <li>
            <span>Minibar incluido</span>
          </li>
          <li>
            <span>Acceso a SPA y 45 minutos de masaje por persona</span>
          </li>
          <li>
            <span>Actividades deportivas (acuáticas sin motor)</span>
          </li>
          <li>
            <span>Caja fuerte</span>
          </li>
          <li>
            <span>Parking gratuito</span>
          </li>
          <li>
            <span>Lavandería</span>
          </li>
        </ul>
        <div class="estancia__checkRegimen">
          <div class="estancia__checkRegimen-wrapper">
            <input type="radio" name="regimen" value="premium">
            <label>Elegir régimen</label>
          </div>
          <br>
        </div>
      </div>
    </div>
  </form>
</div>
