<div class="tab__content">
  <button class="collapse-button collapse-button--big" js-collapse="estancia">
    <img class="collapse-button__icon" src="../img/angle-down-blue.svg">
    <h2 class="collapse-button__text">Mejora tu estancia</h2>
  </button>
  <div class="opcional">
    <span>Opcional</span>
  </div>
  <div class="exclusivo">
    <span>EXCLUSIVO HOTELES.COM</span>
  </div>

  <div id="estancia" class="collapsable">
    <div class="rutina">
      <div class="grid grid--responsive-mobile">
        <img class="rutina__img" src="../img/img1.png">
        <div class="rutina__content">
          <h3 class="rutina__content__title">Olvídese de la rutina</h3>
          <p class="rutina__content__descr">
            Cras vehicula vestibulum dapibus. Pallentesque auctor dolor et purus facilisis maximus. Mauris
            eget urna luctus, imperdiet neque nec, aliquet lorem.
          </p>
          <button class="rutina__descr__button collapse-button" js-collapse="info">
            <span class="collapse-button__text">Más información y condiciones</span>
            <img class="collapse-button__icon" src="../img/angle-down-blue.svg">
          </button>
          <div id="info" class="collapsable"></div>
        </div>
      </div>
    </div>

    <div class="rutina">
      <div class="grid grid--responsive-mobile">
        <img class="rutina__img" src="../img/img2.png">
        <div class="rutina__content">
          <h3 class="rutina__content__title">Experiencias y programas SPA con agua</h3>
          <p class="rutina__content__descr">
            Las experiencias spa de agua tienen una presencia muy especial en SPA Sensations. No es
            extraño si consideramos que la mayor parte del planeta, así como del propio cuerpo humano,
            están compuestos de agua.<br/>
            El arte de recrear experiencias de agua en variaciones ilimitadas es la base de la propuesta de
            SPA Sensations a sus clientes, aportando el refinamiento al baño y a la hidratación en todas sus
            formas. Un mundo mágico de posibilidades, más allá de la terapia y del que ahora usted, también
            podrá disfrutar.
          </p>
          <button class="rutina__descr__button collapse-button" js-collapse="info2">
            <span class="collapse-button__text">Más información y condiciones</span>
            <img class="collapse-button__icon" src="../img/angle-down-blue.svg">
          </button>
        </div>
      </div>

      <div id="info2" class="collapsable">
        <div class="rutina__extra-content">
          <h4 class="rutina__extra-content__titulo">Incluye</h4>

          <div class="grid grid--responsive">
            <div class="grid__col--equal">
              <ul class="rutina__extra-content__incluye">
                <li>
                  <span>Baño javanés Mandi Susu tradicional: evocación de los baños que tomaban las princesas de las cortes y palacios de Java
                    Central, en Indonesia, con antiguas recetas en las que se mezclaba la leche y las especias.</span>
                </li>
              </ul>
            </div>
            <div class="grid__col--equal">
              <ul class="rutina__extra-content__incluye">
                <li>
                  <span>Baño florar balinés: con aceite de almendra dulce y aromas de jazmín.</span>
                </li>
                <li>
                  <span>Baño oceánico: con sal marina y gajos de mandarina o lima.</span>
                </li>
                <li>
                  <span>Baño de pies floral: baño aromático de pies, con pétalos y aromas.</span>
                </li>
              </ul>
            </div>
            <div class="grid__col--equal">
              <ul class="rutina__extra-content__incluye">
                <li>
                  <span>Baño de vapor herbal: baño de vapor con hierbas del sudeste asiático.</span>
                </li>
                <li>
                  <span>Rain shower.</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="rutina__extra-content__valores">Valores no acumulables a otras promociones similares</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tab__content">
  <button class="collapse-button collapse-button--big" js-collapse="servicios">
    <img class="collapse-button__icon" src="../img/angle-down-blue.svg">
    <h2 class="collapse-button__text">Servicios de habitación</h2>
  </button>
  <div class="exclusivo">
    <span>EXCLUSIVO HOTELES.COM</span>
  </div>
  <div class="opcional">
    <span>Opcional</span>
  </div>
  <div id="servicios" class="collapsable"></div>
</div>
