$color-black: #000;
$color-white: #fff;
$color-transparent: transparent;
$color-gray: #616469;

$color-background: #fafafa;
$color-background-elements: #f9f9f9;
$color-shadow: rgba(0, 0, 0, 0.05);

$color-blue-lighter: #c9e3f9;
$color-blue-light: #4ba7ee;
$color-blue: #105aa3;
$color-blue-dark: #003970;
$color-blue-darker: #001841;

$color-gray-border: #dee1e8;
